GOOGLE_VISION_API_KEY="GoogleVisionAPIのAPIキー"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER="ユーザー名"
DB_PASSWORD="パスワード"
DB_NAME="データベース"

MYSQL_ROOT_PASSWORD="ルート用のパスワード"
MYSQL_DATABASE="上記と同じデータベース"
MYSQL_USER="上記と同じユーザー"
MYSQL_PASSWORD="上記と同じパスワード"