-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: Revino
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Questions`
--

DROP TABLE IF EXISTS `Questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Questions` (
  `material_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category_id` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `material_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `image_text` text COLLATE utf8mb4_unicode_ci,
  `is_shared` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`material_id`),
  KEY `idx_questions_set_user_id` (`user_id`),
  KEY `idx_questions_set_category_id` (`category_id`),
  KEY `idx_questions_set_shared` (`is_shared`),
  CONSTRAINT `fk_questions_set_category` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_questions_set_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Questions`
--

LOCK TABLES `Questions` WRITE;
/*!40000 ALTER TABLE `Questions` DISABLE KEYS */;
INSERT INTO `Questions` VALUES ('45c4fa5f-8b51-475a-b77b-fff4b8ef74c5','user_fa6739207c',NULL,'骼悟画凾莉｣','笘・ｻｺ遽噂n骼悟画枚蛹暴n豐ｻ謇ｿ繝ｻ蟇ｿ豌ｸ縺ｮ荵ｱ縺ｧ辟ｼ謳阪＠縺滓擲螟ｧ蟇ｺ縺ｮ蜀榊ｻｺ縺ｮ荳ｭ蠢・→縺ｪ縺｣縺歃n縺ｮ縺悟匡騾ｲ荳贋ｺｺ(蟇・ｻ倥ｒ縺､縺ｮ繧九♀蝮翫＆繧・縺ｨ縺ｪ縺｣縺滄㍾貅・!\n2驥肴ｺ舌・螳ｶ縺九ｉ螟ｧ莉乗ｧ倥・蟒ｺ遽画ｧ伜ｼ上ｒ霈ｸ蜈･縺励※\n螳九・蟾･莠ｺ繝ｻ髯ｳ蜥後・蜊泌鴨繧貞ｾ励※菫ｮ蠕ｩ\n縺｡縺ｪ縺ｿ縺ｫ螟ｧ莉乗ｧ倥・莉｣陦ｨ逧・↑驕ｺ讒九・譚ｱ螟ｧ蟇ｺ蜊怜､ｧ髢\n縺ｾ縺溘∫ｦ・ｮ励・逋ｺ驕斐↓繧医ｊ螟ｧ髯ｸ縺九ｉ\n莨昴∴繧峨ｌ縺溽ｦ・ｮ玲ｧ倥・莉｣陦ｨ萓銀ｦ蜀・ｦ壼ｯｺ闊主茜谿ｿ\n闢ｮ闖ｯ邇矩劼譛ｬ蝣・n(荳牙香荳蛾俣蝣・\n蝗ｽ鬚ｨ譁・喧縺ｮ縺ｨ縺阪↓謌千ｫ九＠縺溷ｻｺ遽噂n讒伜ｼ上・蜥梧ｧ倥・莉｣陦ｨ萓欺n蜷・ｧ伜ｼ上′豺ｷ縺悶▲縺滓眠陦ｷ讒禄n隕ｳ蠢・ｯｺ驥大・n縺ｮ莉｣陦ｨ萓・,1,'2026-06-15 06:39:26','2026-06-22 07:12:59'),('b7839eca-2185-4e41-9779-4d60932f2666','user_fa6739207c',NULL,'骼悟画凾莉｣','笘・ｻｺ遽噂n骼悟画枚蛹暴n豐ｻ謇ｿ繝ｻ蟇ｿ豌ｸ縺ｮ荵ｱ縺ｧ辟ｼ謳阪＠縺滓擲螟ｧ蟇ｺ縺ｮ蜀榊ｻｺ縺ｮ荳ｭ蠢・→縺ｪ縺｣縺歃n縺ｮ縺悟匡騾ｲ荳贋ｺｺ(蟇・ｻ倥ｒ縺､縺ｮ繧九♀蝮翫＆繧・縺ｨ縺ｪ縺｣縺滄㍾貅・!\n2驥肴ｺ舌・螳ｶ縺九ｉ螟ｧ莉乗ｧ倥・蟒ｺ遽画ｧ伜ｼ上ｒ霈ｸ蜈･縺励※\n螳九・蟾･莠ｺ繝ｻ髯ｳ蜥後・蜊泌鴨繧貞ｾ励※菫ｮ蠕ｩ\n縺｡縺ｪ縺ｿ縺ｫ螟ｧ莉乗ｧ倥・莉｣陦ｨ逧・↑驕ｺ讒九・譚ｱ螟ｧ蟇ｺ蜊怜､ｧ髢\n縺ｾ縺溘∫ｦ・ｮ励・逋ｺ驕斐↓繧医ｊ螟ｧ髯ｸ縺九ｉ\n莨昴∴繧峨ｌ縺溽ｦ・ｮ玲ｧ倥・莉｣陦ｨ萓銀ｦ蜀・ｦ壼ｯｺ闊主茜谿ｿ\n闢ｮ闖ｯ邇矩劼譛ｬ蝣・n(荳牙香荳蛾俣蝣・\n蝗ｽ鬚ｨ譁・喧縺ｮ縺ｨ縺阪↓謌千ｫ九＠縺溷ｻｺ遽噂n讒伜ｼ上・蜥梧ｧ倥・莉｣陦ｨ萓欺n蜷・ｧ伜ｼ上′豺ｷ縺悶▲縺滓眠陦ｷ讒禄n隕ｳ蠢・ｯｺ驥大・n縺ｮ莉｣陦ｨ萓・,0,'2026-06-17 02:15:03','2026-06-17 02:15:03');
/*!40000 ALTER TABLE `Questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `answers`
--

DROP TABLE IF EXISTS `answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `answers` (
  `answer_id` varchar(120) COLLATE utf8mb4_unicode_ci NOT NULL,
  `result_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `selected_choice_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`answer_id`),
  UNIQUE KEY `uq_answers_result_question` (`result_id`,`question_id`),
  KEY `idx_answers_result_id` (`result_id`),
  KEY `idx_answers_question_id` (`question_id`),
  KEY `idx_answers_selected_choice_id` (`selected_choice_id`),
  CONSTRAINT `fk_answers_question` FOREIGN KEY (`question_id`) REFERENCES `question` (`question_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_answers_result` FOREIGN KEY (`result_id`) REFERENCES `results` (`result_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_answers_selected_choice` FOREIGN KEY (`selected_choice_id`) REFERENCES `question_choices` (`choice_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `answers`
--

LOCK TABLES `answers` WRITE;
/*!40000 ALTER TABLE `answers` DISABLE KEYS */;
/*!40000 ALTER TABLE `answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `category_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `category_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `category_name` (`category_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES ('cat_math','','2026-06-12 06:59:13');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question`
--

DROP TABLE IF EXISTS `question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question` (
  `question_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `material_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `explanation` text COLLATE utf8mb4_unicode_ci,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`question_id`),
  KEY `idx_question_material_id` (`material_id`),
  CONSTRAINT `fk_question_material` FOREIGN KEY (`material_id`) REFERENCES `Questions` (`material_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question`
--

LOCK TABLES `question` WRITE;
/*!40000 ALTER TABLE `question` DISABLE KEYS */;
/*!40000 ALTER TABLE `question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_choices`
--

DROP TABLE IF EXISTS `question_choices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_choices` (
  `choice_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `choice_label` char(1) COLLATE utf8mb4_unicode_ci NOT NULL,
  `choice_text` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_correct` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`choice_id`),
  UNIQUE KEY `uq_question_choice_label` (`question_id`,`choice_label`),
  KEY `idx_question_choices_question_id` (`question_id`),
  CONSTRAINT `fk_question_choices_question` FOREIGN KEY (`question_id`) REFERENCES `question` (`question_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_question_choices_correct` CHECK ((`is_correct` in (0,1))),
  CONSTRAINT `chk_question_choices_label` CHECK ((`choice_label` in (_latin1'A',_latin1'B',_latin1'C',_latin1'D')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_choices`
--

LOCK TABLES `question_choices` WRITE;
/*!40000 ALTER TABLE `question_choices` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_choices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_question_tags`
--

DROP TABLE IF EXISTS `question_question_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_question_tags` (
  `question_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_tag_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`question_id`,`question_tag_id`),
  KEY `idx_question_question_tags_tag_id` (`question_tag_id`),
  CONSTRAINT `fk_question_question_tags_question` FOREIGN KEY (`question_id`) REFERENCES `question` (`question_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_question_question_tags_tag` FOREIGN KEY (`question_tag_id`) REFERENCES `question_tags` (`question_tag_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_question_tags`
--

LOCK TABLES `question_question_tags` WRITE;
/*!40000 ALTER TABLE `question_question_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_question_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_tags`
--

DROP TABLE IF EXISTS `question_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_tags` (
  `question_tag_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `question_tag_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`question_tag_id`),
  UNIQUE KEY `question_tag_name` (`question_tag_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_tags`
--

LOCK TABLES `question_tags` WRITE;
/*!40000 ALTER TABLE `question_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `results`
--

DROP TABLE IF EXISTS `results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `results` (
  `result_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `material_id` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `correct_count` int NOT NULL DEFAULT '0',
  `total_count` int NOT NULL DEFAULT '0',
  `correct_rate` int NOT NULL DEFAULT '0',
  `gained_points` int NOT NULL DEFAULT '0',
  `started_at` datetime DEFAULT NULL,
  `finished_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`result_id`),
  KEY `idx_results_user_id` (`user_id`),
  KEY `idx_results_material_id` (`material_id`),
  KEY `idx_results_created_at` (`created_at`),
  CONSTRAINT `fk_results_material` FOREIGN KEY (`material_id`) REFERENCES `Questions` (`material_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_results_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_results_correct_count` CHECK ((`correct_count` >= 0)),
  CONSTRAINT `chk_results_correct_rate` CHECK ((`correct_rate` between 0 and 100)),
  CONSTRAINT `chk_results_gained_points` CHECK ((`gained_points` >= 0)),
  CONSTRAINT `chk_results_total_count` CHECK ((`total_count` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `results`
--

LOCK TABLES `results` WRITE;
/*!40000 ALTER TABLE `results` DISABLE KEYS */;
INSERT INTO `results` VALUES ('result_f3bbd1bc61319bed','user_fa6739207c','45c4fa5f-8b51-475a-b77b-fff4b8ef74c5',5,5,100,50,'2026-06-24 01:01:37','2026-06-24 01:01:53','2026-06-24 01:01:52'),('study_result_3190788b0d59','user_fa6739207c','b7839eca-2185-4e41-9779-4d60932f2666',2,5,40,20,'2026-06-24 01:27:04','2026-06-24 01:27:13','2026-06-24 01:27:13');
/*!40000 ALTER TABLE `results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room`
--

DROP TABLE IF EXISTS `room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room` (
  `history_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room`
--

LOCK TABLES `room` WRITE;
/*!40000 ALTER TABLE `room` DISABLE KEYS */;
/*!40000 ALTER TABLE `room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_user`
--

DROP TABLE IF EXISTS `room_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room_user` (
  `history_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `result_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`history_id`,`user_id`),
  KEY `idx_room_user_user_id` (`user_id`),
  KEY `idx_room_user_result_id` (`result_id`),
  CONSTRAINT `fk_room_user_result` FOREIGN KEY (`result_id`) REFERENCES `results` (`result_id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_room_user_room` FOREIGN KEY (`history_id`) REFERENCES `room` (`history_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_room_user_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_user`
--

LOCK TABLES `room_user` WRITE;
/*!40000 ALTER TABLE `room_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `room_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_tags`
--

DROP TABLE IF EXISTS `user_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_tags` (
  `user_tag_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_tag_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_tag_id`),
  UNIQUE KEY `uq_user_tag_name_per_user` (`user_id`,`user_tag_name`),
  KEY `idx_user_tags_user_id` (`user_id`),
  CONSTRAINT `fk_user_tags_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_tags`
--

LOCK TABLES `user_tags` WRITE;
/*!40000 ALTER TABLE `user_tags` DISABLE KEYS */;
INSERT INTO `user_tags` VALUES ('utag_ff961540c7','user_fa6739207c','譌･譛ｬ蜿ｲ','2026-06-22 07:09:04');
/*!40000 ALTER TABLE `user_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `profile` text COLLATE utf8mb4_unicode_ci,
  `avater` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `salt` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('user_fa6739207c','譎ｺ蜩・,'豁ｴ蜿ｲ縺悟･ｽ縺阪〒縺・,NULL,'tomoyatomoya1210@icloud.com','6a6c69a01dd0fbcd4d6d882d6e6a663741644fb3ad2a78e738cceb8879d0b8415c532211410cef7c74a92d0755eb3c13bce85551d103d442f7e0c8c8345ad82c','703bee991ccbe4a9fde9b84a22e90b24','2026-06-15 06:24:26','2026-06-22 07:09:04');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-01  2:40:19
